.image1{
    margin: 1% 30%;
    
}
.head{
    margin: 1% 41%;
}
.main1{
    width: 100%;
}
button{
    background-color: aqua;
    border-radius: 15px;
    padding: 2%;
    margin: 1px;
}
.para1{
    text-align: center;
    margin: 1% 20%;
}